
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";    
}

<body>
    <div class="background">
        @Html.Partial("~/Views/Shared/Partial/_PartialNavbar.cshtml")
        <div class="content">
            <article class="glassmorphism">
                <h2>Welcome to My Website</h2>
                <p>
                    Welcome to my website!

                    In this online space, we embark on a journey exploring the possibilities of web development using Telerik's ASP.NET MVC web application framework. It's an exciting path filled with innovation, efficiency, and endless opportunities to craft powerful, responsive, and user-friendly web applications.

                    Telerik's ASP.NET MVC framework is renowned for its robustness and flexibility, making it a preferred choice among developers and businesses alike. Whether you're a seasoned developer or just dipping your toes into the world of web development, this framework offers a plethora of tools and features to simplify your workflow and enhance your web applications.

                    With Telerik, you can create dynamic and data-driven websites with ease. The framework provides a comprehensive set of components, such as grids, charts, and form controls, that make handling complex data and presenting it to users a breeze. The built-in support for responsive design ensures your applications look and work seamlessly on various devices, from desktops to smartphones.

                    As we delve deeper into the world of ASP.NET MVC, we'll explore topics like routing, data binding, and user authentication, among others. Our journey will be filled with practical examples, tutorials, and tips to help you master web development using Telerik's ASP.NET MVC framework.

                    So, whether you're here to enhance your skills, solve a specific problem, or simply learn something new, you're in the right place. Let's embark on this exciting adventure together and unlock the full potential of web development with Telerik's ASP.NET MVC web application framework. Stay tuned for a world of web development wonders!
                    <br />
                    <br />
                    This is Example for the table Check this out!!!
                </p>
            </article>
        </div>
        <div style="margin-top: 125px">
            @Html.Partial("~/Views/Shared/Partial/_PartialCarousel.cshtml")
        </div>
    </div>
</body>