@model IEnumerable<Telerik_Project15.Models.DestinationViewModel>

@{
    ViewBag.Title = "Index";

}

<div class="background">
    @Html.Partial("~/Views/Shared/Partial/_PartialNavbar.cshtml")
    <div class="content container">
        <div class="glassmorphism">
            <h2>Welcome to My Website</h2>
        </div>
        <div class="glassmorphism">
            <div class="demo-section wide">
               
            </div>
        </div>
    </div>
</div>

<script>
    function onDataBound(e) {
        var listViewData = e.sender.dataSource.view();
        $.each(listViewData, function (index, item) {
            $("#rating_" + item.Id).val(item.Rating);
        });
    }

    function onReadMoreClick(e) {
        var window = $("#window").data("kendoWindow");
        var clickedButton = $(this.element);
        var description = clickedButton.parent().prev().find(".destination-info").text();
        window.content(description);
        window.center().open();
    }
</script>