@model IEnumerable<Telerik_Project15.Models.MenuItem>

@{
    ViewBag.Title = "Menu Items";
    Layout = "~/Views/Shared/Layout/_LayoutMenuItems.cshtml";

}

<body>

    <div class="container">
        <h2>
            @Html.ActionLink("Create New", "Create")
        </h2>        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="k-card">
                        <img src="image_url_here" alt="Image" class="k-card-img-top">
                        <div class="k-card-body">
                            <h5 class="k-card-title">@item.Name</h5>
                            <p class="k-card-text">@item.Description</p>
                            <p class="k-card-text">Price: $@item.Price</p>
                        </div>
                        <div class="k-card-footer text-center">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>