@model Telerik_Project15.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                @using (Html.BeginForm("Index", "Home"))
                {
                    <h2>Login</h2>
                    <div class="inputbox">
                        @(Html.Kendo().TextBoxFor(m => m.Username).HtmlAttributes(new { @class = "k-textbox", @id = "username-input",  placeholder = "Username" }))
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                    <div class="inputbox">
                        @(Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { @class = "k-textbox", @id = "password-input", placeholder = "Password" }))
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox" id="remember-me">Remember Me  <a href="#">Forget Password</a></label>
                    </div>
                    <button type="submit" class="k-button">Log in</button>
                    <div class="register">
                        <p>Don't have an account <a href="#">Register</a></p>
                    </div>
                }
            </div>
        </div>
    </section>
</body>